#root {
  height: 98vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.section {
  align-items: center;
  display: flex;
  width: 100%;
  background-image: url(./assets/bg1.jpeg);
  background-size: cover;
  justify-content: center;
}

.header {
  padding: 16px;
}

.text {
  color: #333;
}

.title {
  font-size: 24px;
}

.ant-form-item-explain-error {
  display: flex;
}

.container {
  width: 320px;
  background-color: #fff;
  border-radius: 10px;
  padding: 16px;
}

.login {
  display: flex;
  justify-content: center;
}

.box-time {
  /* width: 800px; */
  background-color: #333;
  margin: auto;
  font-size: 36px;
  font-weight: bold;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
}

.day {
  border-bottom: 2px solid #fff;
  display: inline-block;
  color: #fff;
}

.hour {
  color: #fff;
  margin-top: 25px;
  border: 1px solid green;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
}
.info {
  padding: 8px;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
  color: #fff;
}
.form {
  display: flex;
  width: 360px;
}
.image-time {
  margin-top: 16px;
  height: 250px;
  width: 700px
}